body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title_1, .form_1, .tasks_1{
  text-align: center;
}
.tasks_1{
  display: flex;
  justify-content: center;
}
.tasks_2{
  padding:10px;
  width: 20%;
}
.item_btn{
  border:1px solid black;
}